* {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

ul {
  list-style: none;
}

#wrap {
  max-width: 1000px;
  margin: 0 auto;
}

.date-container div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transparent-btn {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.recent {
  border: 1px solid #c0c0c0;
  border-radius: 12px;
  padding: 0 8px;
  height: 28px;
}

.season-wrap {
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.season-wrap > button {
  padding: 0 10px;
}

.season-wrap > button > img {
  height: 18px;
}

.current-season {
  font-size: 32px;
  font-weight: 900;
  padding: 0 20px;
}

.blank {
  visibility: hidden;
}

.tab-list {
  display: flex;
  justify-content: center;
}

.tab-list > li > button {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.disable {
  opacity: 0.4;
  cursor: not-allowed;
}

ul {
  list-style: none;
}

.month-tab {
  max-width: 1000px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  position: relative;
}

.month-tab::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: hsla(0, 0%, 91.8%, 0.7);
}

.tab-item {
  width: 80px;
  flex: 1;
  display: inline;
  text-align: center;
}

.month-btn {
  width: 100%;
  min-width: 63px;
  position: relative;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 15px;
}

.select {
  color: #3f76ff;
  font-weight: bold;
}

.select::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 100%;
  background-color: #3f76ff;
}

.month {
  display: flex;
  align-items: center;
  justify-content: center;
}

.month-number {
  font-size: 2rem;
}

button:disabled {
  cursor: not-allowed;
}
